/* Cuerpo */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
  }

  .profile-picture {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
    object-fit: cover;
    box-shadow: 0px -50px 130px rgb(204, 36, 7);
  }
  
  .background-container {
    position: relative;
    overflow: hidden;
  }

  

  /* Filtros para el fondo */

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    filter: blur(5px);
    opacity: 50%;
  }
  
  
  /* Animaciones para el fondo */

  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: backgroundAnimation 20s ease infinite;
  }

  @keyframes backgroundAnimation {

    100% {
      transform: scale(1);
    }

    0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.2);
      }
  }

  .titulo {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }

  .tesina {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 100px;
  }

  .titulo header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  nav{
    padding-right: 25px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000d2;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }


  .contact-info,
  .work-history,
  .education,
  .professional-summary {
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .section-content {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
  }
  
/* Titulo */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin-left: 10px;
  }
  
/* Para los iconos */

.background-container {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Agrega la opacidad aquí */
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    padding: 20px;
  }
  


  .titulo h1 {
    margin: 0;
  }

  .titulo nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .titulo nav li {
    margin-left: 10px;
  }

  .titulo nav img {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    height: 30px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 0px;
    transition: transform 0.3s ease;
  }


  .titulo nav img:hover {
    transform: rotate(360deg);
    border-radius: 5px;
    background-color: #ffffff;
  }




  .language-toggle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #language-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00000063;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid rgba(204, 36, 7, 0.466);
  }
  
  #language-button:hover {
    background-color: rgba(204, 36, 7, 0.466);
    transition: 0.5s;
    border-radius: 50px;
    border: 1px solid rgb(0, 0, 0);
  }




  





  